table, tr, thead, tbody, th{
    border-collapse: collapse;
    border: solid;
    border-color: rgb(0, 0, 0);
    background-color: lightblue;
    text-align: center;
}

#keses {
    background-color: violet;
}

.paros {
    background-color: aqua;
}

.paratlan {
    background-color: aquamarine
}

.border {
    border: none
}

body {
    background-color: darkslategray;
}

a {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    line-height: 50px;
}

tbody tr:nth-child(odd) {
    background-color: aqua;
}

tbody tr:nth-child(even) {
    background-color: aquamarine;
}

thead {
    font-family: 'Courier New', Courier, monospace;
}

td {
    border-style: none;
}

tbody {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}